{% extends 'admin_base.html' %}
{% load static %}
{% block title %} admin Profile{% endblock %}

{% block content %}

<div class="nav-left-sidebar sidebar-dark d-none d-lg-block">
    <div class="menu-list mb-5" style="max-height: 150vh;overflow-y: auto; min-width: 350px;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">

                    <li class="nav-divider">
                        {% if Company_profile %}
                        <img src="/media/{{Company_profile.company_logo}}" class="mb-3 mt-4 ml-4"
                        style="width: 150px;height:150px;border-radius: 50%;" />
                    {% else %}
                        <img src="{% static 'deault_profile_image.png'%}" class="mb-3 mt-4 ml-4 rounded-circle"
                            style="width: auto;height:15vh;" />
                    {% endif %}
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/admin_dashboard/">
                            <i class="fa fa-fw fa-user-circle"></i>
                            <span class="ml-2">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/admin_dashboard/all_users/">
                            <i class="fa-regular fa-users"></i>
                            <span class="ml-3">View All User</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                            data-target="#submenu-1" aria-controls="submenu-2">
                            <i class="fa-regular fa-hand-holding-dollar"></i>
                            <span class="ml-3">Manage Plans</span>
                        </a>
                        <div id="submenu-1" class="collapse submenu">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin_dashboard/all_plans/">View all plans</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin_dashboard/add_plan/">Add new plans</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                            data-target="#submenu-2" aria-controls="submenu-2">
                            <i class="fa-solid fa-landmark"></i>
                            <span class="ml-3">Manage Bank Accounts</span>
                        </a>
                        <div id="submenu-2" class="collapse submenu">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin_dashboard/all_account/">View all account</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin_dashboard/add_account/">Add new account</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/admin_dashboard/socail_contact/">
                            <i class="fa-regular fa-phone-volume"></i>
                            <span class="ml-3">Manage Contact Information</span>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/admin_dashboard/depost/">
                            <i class="fa-solid fa-money-bill-transfer"></i>
                            <span class="ml-3">View Deposit Requests</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/admin_dashboard/withdraw/">
                            <i class="fa-solid fa-wallet"></i>
                            <span class="ml-3">View Withdraw Requests</span>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/admin_dashboard/profile/">
                            <i class="fa-solid fa-id-card"></i>
                            <span class="ml-3">User Profile</span>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/admin_dashboard/company_profile/">
                            <i class="fa-solid fa-id-card-clip"></i>
                            <span class="ml-3">Company Profile</span>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/Auth/logout/">
                            <i class="fas fa-power-off"></i>
                            <span class="ml-3">Logout</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<nav class="navbar navbar-dark bg-dark d-block d-sm-block d-lg-none d-xl-none mt-1">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin_dashboard/" aria-current="page">
                        <i class="fa fa-fw fa-user-circle"></i>
                        <span class="ml-2">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_dashboard/all_users/">
                        <i class="fa-regular fa-users"></i>
                        <span class="ml-2">View All User</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-regular fa-hand-holding-dollar"></i>
                        <span class="ml-3">Manage Plans</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="dropdown-item" href="/admin_dashboard/all_plans/">View all plans</a>
                            <a class="dropdown-item" href="/admin_dashboard/add_plan/">Add new plans</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-landmark"></i>
                        <span class="ml-3">Bank Accounts</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="dropdown-item" href="/admin_dashboard/all_account/">View all account</a>
                            <a class="dropdown-item" href="/admin_dashboard/add_account/">Add new account</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_dashboard/depost/">
                        <i class="fa-solid fa-money-bill-transfer"></i>
                        <span class="ml-3">Deposit Requests</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_dashboard/withdraw/">
                        <i class="fa-solid fa-wallet"></i>
                        <span class="ml-3">Withdraw Requests</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_dashboard/socail_contact/">
                        <i class="fa-regular fa-phone-volume"></i>
                        <span class="ml-3">Manage Contact Information</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin_dashboard/profile/">
                        <i class="fa-solid fa-id-card"></i>
                        <span class="ml-3">User Profile</span>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/admin_dashboard/company_profile/">
                        <i class="fa-solid fa-id-card-clip"></i>
                        <span class="ml-3">Company Profile</span>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/Auth/logout/">
                        <i class="fas fa-power-off"></i>
                        <span class="ml-3">Logout</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">

            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <a href="/admin_dashboard/" class="breadcrumb-link">Dashboard</a>
                                    <span> >> admin profile</span>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <section class="box-shadow-sm bg-white container-lg my-2 py-3">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}


                {% if request.user %}
                <div class="table-responsive d-block d-lg-none d-xl-none" >
                    <table class="table w-100 table-borderless">
                        <tbody>
                            <tr align="center">
                                {% if request.user.image %}
                                <td colspan="3"><img src="/media/{{ request.user.image }}"
                                        style="max-width:150px;height:150px;" class="rounded-circle img-fluid">
                                </td>
                                {% else %}
                                <td colspan="3"><img src="{% static  'deault_profile_image.png' %}"
                                        style="width:100px;border-radius:50%;"></td>
                                {% endif %}
                            </tr>
                            <tr align="center">
                                <td align="center" colspan="3">
                                    <div class="btn-block">
                                        <a class="mr-1 delete-record-link" data-toggle="modal" href="#Change_img">
                                            <button class='button btn-danger btn' type="submit"><b
                                                    style="color:white;">Change Profile
                                                    Image</b></button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr style="background-color:#49738f;">
                                <td align="center" colspan="3"><b style="color:white;">Personal Detail</b></td>
                            </tr>
                            <tr>
                                <td align="left">Admin userame:
                                    <div id="username_frame-sm" style="width: 100%;">
                                        {{request.user.username}}
                                        <button class="btn">
                                            <i class="far fa-edit fa" id="username-sm" style="color:green;"></i>
                                        </button>
                                    </div>

                                    <div id="username_edit_frame-sm">
                                        <form action="/admin_dashboard/profile/" method="POST">
                                            {% csrf_token %}
                                            <input name="username" required style="width:70%;" type="text"
                                                value="{{request.user.username}}" />
                                            <button class="btn btn-outline-success">
                                                <i class="fas fa-check-circle fa-md-2x" id="username_edit-sm"
                                                    style="height:2vh;"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" colspan="3">Email Address:
                                    <div id="email_frame-sm">
                                        {% if request.user.email %}
                                        {{request.user.email}}
                                        <button class="btn">
                                            <i class="far fa-edit fa" id="email-sm" style="color:green;"></i>
                                        </button>
                                        </div>
                                        {% else %}
                                        <div id="email_edit_frame-sm">
                                            <form action="/admin_dashboard/profile/" method="POST">
                                                {% csrf_token %}
                                                <input name="email" required style="width:80%;" type="email"
                                                    value="{{request.user.email}}" />
                                                <button class="btn btn-outline-success">
                                                    <i class="fas fa-check-circle fa-md-2x" id="email_edit-sm"
                                                        style="height:2vh;"></i>
                                                </button>
                                            </form>
                                        </div>
                                        {% endif %}

                                    <div id="email_edit_frame-sm">
                                        <form action="/admin_dashboard/profile/" method="POST">
                                            {% csrf_token %}
                                            <input name="email" required style="width:80%;" type="email"
                                                value="{{request.user.email}}" />
                                            <button class="btn btn-outline-success">
                                                <i class="fas fa-check-circle fa-md-2x" id="email_edit-sm"
                                                    style="height:2vh;"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="3">
                                    <label>Phone Number:</label>
                                        <div id="phone_frame_sm">
                                            +92{{request.user.phone_number}}
                                            <button class="btn">
                                                <i class="far fa-edit fa" id="phone_sm" style="color:green;"></i>
                                            </button>
                                        </div>
    
                                        <div id="phone_edit_frame_sm">
                                            <form action="/admin_dashboard/profile/" method="POST" id="phoneForm_sm">
                                                {% csrf_token %}
                                                <input class="no-arrow" type="number" name="phone"  maxlength="10" minlength="10"
                                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                placeholder="10-digit phone number" required id="phone_input_sm" style="width:80%;" value="{{request.user.phone_number}}">
                                                <button class="btn btn-outline-success">
                                                    <i class="fas fa-check-circle fa-md-2x" id="phone_edit_sm"
                                                        style="height:2vh;"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <span id="error_phonelenght_sm" style="display: none; color: red;font-size: 13px;"></span>                                    
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr style="background-color:#49738f;">
                                <td align="center" colspan="3"><b style="color:white;">Change Password</b></td>
                            </tr>

                            <form action="/admin_dashboard/profile/" method="POST" id="changePasswordForm_sm">
                                {% csrf_token %}
                                <tr>
                                    <td align="left" colspan="3">
                                        <label>Current Password:</label>
                                        <input name="current_password" placeholder="Current Password" required 
                                        type="password" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3">
                                        <label>New Password:</label>
                                        <input name="new_password" placeholder="Enter New Password" required
                                            type="password" class="form-control" id="passwordField_sm" minlength="8">
                                        <span id="error_password_sm" style="display: none; color: red;font-size: 13px;" class="ml-4"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3">
                                        <label>Conform Password:</label>
                                        <input name="confirm_password" placeholder="Enter Confirm Password" required
                                            type="password" class="form-control" id="Confirm_passwordField_sm" minlength="8">
                                        <span id="error_Confirm_password_sm" style="display: none; color: red;font-size: 13px;" class="ml-4"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="3">
                                        <div class="btn-block">
                                            <button class='button btn-danger btn' type="submit"><b
                                                    style="color:white;">
                                                    Change Password</b></button>
                                        </div>
                                    </td>
                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive d-none d-lg-block d-md-block d-sm-none" >
                    <table class="table w-100 table-borderless">
                        <tbody>
                            <tr align="center">
                                {% if request.user.image %}
                                <td colspan="3"><img src="/media/{{ request.user.image }}"
                                        style="max-width:150px;height:150px;" class="rounded-circle img-fluid">
                                </td>
                                {% else %}
                                <td colspan="3"><img src="{% static  'deault_profile_image.png' %}"
                                        style="width:100px;border-radius:50%;"></td>
                                {% endif %}
                            </tr>
                            <tr align="center">
                                <td align="center" colspan="3">
                                    <div class="btn-block">
                                        <a class="mr-1 delete-record-link" data-toggle="modal" href="#Change_img">
                                            <button class='button btn-danger btn' type="submit"><b
                                                    style="color:white;">Change Profile
                                                    Image</b></button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr style="background-color:#49738f;">
                                <td align="center" colspan="3"><b style="color:white;">Personal Detail</b></td>
                            </tr>
                            <tr align="center">
                                <td class="col-lg-2"></td>
                                <td align="left">Admin userame:</td>
                                <td align="left" class="col-6">
                                    <div id="username_frame">
                                        {{request.user.username}}
                                        <button class="btn">
                                            <i class="far fa-edit fa" id="username" style="color:green;"></i>
                                        </button>
                                    </div>

                                    <div id="username_edit_frame">
                                        <form action="/admin_dashboard/profile/" method="POST">
                                            {% csrf_token %}
                                            <input name="username" required style="width:70%;" type="text"
                                                value="{{request.user.username}}" />
                                            <button class="btn btn-outline-success">
                                                <i class="fas fa-check-circle fa-md-2x" id="username_edit"
                                                    style="height:2vh;"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2"></td>
                                <td align="left">Email Address:</td>
                                <td align="left">
                                    <div id="email_frame">
                                        {{request.user.email}}
                                        <button class="btn">
                                            <i class="far fa-edit fa" id="email" style="color:green;"></i>
                                        </button>
                                    </div>

                                    <div id="email_edit_frame">
                                        <form action="/admin_dashboard/profile/" method="POST">
                                            {% csrf_token %}
                                            <input name="email" required style="width:70%;" type="email"
                                                value="{{request.user.email}}" />
                                            <button class="btn btn-outline-success">
                                                <i class="fas fa-check-circle fa-md-2x" id="email_edit"
                                                    style="height:2vh;"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-1"></td>
                                <td align="left">Phone Number:</td>
                                <td align="left">
                                    <div id="phone_frame">
                                        +92{{request.user.phone_number}}
                                        <button class="btn">
                                            <i class="far fa-edit fa" id="phone" style="color:green;"></i>
                                        </button>
                                    </div>

                                    <div id="phone_edit_frame">
                                        <form action="/admin_dashboard/profile/" method="POST" id="phoneForm">
                                            {% csrf_token %}
                                            <input class="no-arrow" type="number" name="phone"  maxlength="10" minlength="10"
                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                            placeholder="10-digit phone number" required id="phone_input" style="width:70%;" value="{{request.user.phone_number}}">
                                            <button class="btn btn-outline-success">
                                                <i class="fas fa-check-circle fa-md-2x" id="phone_edit"
                                                    style="height:2vh;"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <span id="error_phonelenght" style="display: none; color: red;font-size: 13px;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr style="background-color:#49738f;">
                                <td align="center" colspan="3"><b style="color:white;">Change Password</b></td>
                            </tr>

                            <form action="/admin_dashboard/profile/" method="POST" id="changePasswordForm">
                                {% csrf_token %}
                                <tr>
                                    <td class="col-lg-2"></td>
                                    <td align="left">
                                        <label>Current Password:</label>
                                    </td>
                                    <td align="left">
                                        <input name="current_password" placeholder="Current Password" required 
                                        type="password" class="form-control">
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td class="col-lg-2"></td>
                                    <td align="left">
                                        <label>New Password:</label>

                                    </td>
                                    <td align="left">
                                        <input name="new_password" placeholder="Enter New Password" required
                                            type="password" class="form-control" id="passwordField" minlength="8">
                                        <span id="error_password" style="display: none; color: red;font-size: 13px;" class="ml-4"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-2"></td>
                                    <td align="left">
                                        <label>Conform Password:</label>
                                    </td>
                                    <td align="left">
                                        <input name="confirm_password" placeholder="Enter Confirm Password" required
                                            type="password" class="form-control" id="Confirm_passwordField" minlength="8">
                                        <span id="error_Confirm_password" style="display: none; color: red;font-size: 13px;" class="ml-4"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="3">
                                        <div class="btn-block">
                                            <button class='button btn-danger btn' type="submit"><b
                                                    style="color:white;">
                                                    Change Password</b></button>
                                        </div>
                                    </td>
                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
                {% endif %}

            </section>

            <div aria-hidden="true" class="modal" id="Change_img" role="dialog" tabindex="-1">
                <div class="modal-dialog p-3" role="document" style="margin-top: 130px;">
                    <div class="modal-content text-center">
                        <div class="modal-header">
                            <button aria-label="Close" class="btn-close" data-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body tab-content">
                            <h5 class="text-center">Select New Image </h5>
                            <div class="table-responsive">
                                <table class="table width:100% align-middle">
                                    <form action="/admin_dashboard/profile/" enctype="multipart/form-data" method="POST">
                                        {% csrf_token %}
                                        <tr align="center">
                                            <td>
                                                <h6 style="color:green">
                                                    <input accept="image/*" name="image" required type="file">
                                                </h6>
                                            </td>
                                        </tr>
                                        <tr align="center">
                                            <td>
                                                <input class="btn btn-danger" style="color:white;" type="submit"
                                                    value="Change" />
                                            </td>
                                        </tr>
                                    </form>
                                </table>
                                <br />
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var targetDiv = document.getElementById("username_edit_frame");
    var btn = document.getElementById("username");
    var username_frame = document.getElementById("username_frame")
    var username_edit = document.getElementById("username_edit")

    var phone_edit_frame = document.getElementById("phone_edit_frame");
    var phone_btn = document.getElementById("phone");
    var phone_frame = document.getElementById("phone_frame")
    var phone_edit = document.getElementById("phone_edit")

    var email_edit_frame = document.getElementById("email_edit_frame");
    var email_btn = document.getElementById("email");
    var email_frame = document.getElementById("email_frame")
    var email_edit = document.getElementById("email_edit")

    var targetDiv_sm = document.getElementById("username_edit_frame-sm");
    var btn_sm = document.getElementById("username-sm");
    var username_frame_sm = document.getElementById("username_frame-sm")
    var username_edit_sm = document.getElementById("username_edit-sm")

    var email_edit_frame_sm = document.getElementById("email_edit_frame-sm");
    var email_btn_sm = document.getElementById("email-sm");
    var email_frame_sm = document.getElementById("email_frame-sm")
    var email_edit_sm = document.getElementById("email_edit-sm")

    var phone_edit_frame_sm = document.getElementById("phone_edit_frame_sm");
    var phone_btn_sm = document.getElementById("phone_sm");
    var phone_frame_sm = document.getElementById("phone_frame_sm")
    var phone_edit_sm = document.getElementById("phone_edit_sm")

    targetDiv.style.display = "none";
    email_edit_frame.style.display = "none";
    targetDiv_sm.style.display = "none";
    email_edit_frame_sm.style.display = "none";
    phone_edit_frame.style.display = 'none';
    phone_edit_frame_sm.style.display = 'none';


    btn.onclick = function () {
        if (targetDiv.style.display !== "none") {
            targetDiv.style.display = "none";
            username_frame.style.display = "block";

        } else {
            targetDiv.style.display = "block";
            username_frame.style.display = "none";
        }
    };

    phone_btn.onclick = function () {
        if (phone_edit_frame.style.display !== "none") {
            phone_edit_frame.style.display = "none";
            phone_frame.style.display = "block";

        } else {
            phone_edit_frame.style.display = "block";
            phone_frame.style.display = "none";
        }
    };
    phone_btn_sm.onclick = function () {
        if (phone_edit_frame_sm.style.display !== "none") {
            phone_edit_frame_sm.style.display = "none";
            phone_frame_sm.style.display = "block";

        } else {
            phone_edit_frame_sm.style.display = "block";
            phone_frame_sm.style.display = "none";
        }
    };
    email_btn.onclick = function () {
        if (email_edit_frame.style.display !== "none") {
            email_edit_frame.style.display = "none";
            email_frame.style.display = "block";

        } else {
            email_edit_frame.style.display = "block";
            email_frame.style.display = "none";
        }
    }
        btn_sm.onclick = function () {
        if (targetDiv_sm.style.display !== "none") {
            targetDiv_sm.style.display = "none";
            username_frame_sm.style.display = "block";

        } else {
            targetDiv_sm.style.display = "block";
            username_frame_sm.style.display = "none";
        }
    };

    email_btn_sm.onclick = function () {
        if (email_edit_frame_sm.style.display !== "none") {
            email_edit_frame_sm.style.display = "none";
            email_frame_sm.style.display = "block";

        } else {
            email_edit_frame_sm.style.display = "block";
            email_frame_sm.style.display = "none";
        }
    };


</script>

<script>
    var error_password = document.getElementById('error_password');
    var error_Confirm_password = document.getElementById('error_Confirm_password');

    var passwordField = document.getElementById('passwordField');
    var Confirm_passwordField = document.getElementById('Confirm_passwordField');

    var error_password_sm = document.getElementById('error_password_sm');
    var error_Confirm_password_sm = document.getElementById('error_Confirm_password_sm');

    var passwordField_sm = document.getElementById('passwordField_sm');
    var Confirm_passwordField_sm = document.getElementById('Confirm_passwordField_sm');

    var error_phonelenght = document.getElementById('error_phonelenght');
    var phone_input = document.getElementById('phone_input');

    var error_phonelenght_sm = document.getElementById('error_phonelenght_sm');
    var phone_input_sm = document.getElementById('phone_input_sm');

    phone_input_sm.onclick = function() {
        error_phonelenght_sm.style.display = 'none'
    };

    passwordField.onclick = function() {
        error_password.style.display = 'none'
    };
    Confirm_passwordField.onclick = function() {
        error_Confirm_password.style.display = 'none'
    };

    passwordField_sm.onclick = function() {
        error_password_sm.style.display = 'none'
    };
    Confirm_passwordField_sm.onclick = function() {
        error_Confirm_password_sm.style.display = 'none'
    };

    document.getElementById('phoneForm').addEventListener('submit', function(event) {
        var minLength_phone = parseInt(phone_input.getAttribute('minlength'));
        var phoneValue = phone_input.value.trim();

        
    if (phoneValue.length < minLength_phone) {
            event.preventDefault(); // Prevent form submission
            error_phonelenght.style.display = 'block';
            error_phonelenght.textContent = 'Please enter valid phone number. \n Phone number must be ' + minLength_phone + ' digit long.';
        } 
    else if (phoneValue[0] === '0') {
            event.preventDefault(); // Prevent form submission
            error_phonelenght.style.display = 'block';
            error_phonelenght.textContent = 'Phone number first number cannot be 0';
        }

    });
    document.getElementById('phoneForm_sm').addEventListener('submit', function(event) {
        var minLength_phone_sm = parseInt(phone_input_sm.getAttribute('minlength'));
        var phoneValue_sm = phone_input_sm.value.trim();

        
    if (phoneValue_sm.length < minLength_phone_sm) {
            event.preventDefault(); // Prevent form submission
            error_phonelenght_sm.style.display = 'block';
            error_phonelenght_sm.textContent = 'Please enter valid phone number. \n Phone number must be ' + minLength_phone_sm + ' digit long.';
        } 
    else if (phoneValue_sm[0] === '0') {
            event.preventDefault(); // Prevent form submission
            error_phonelenght_sm.style.display = 'block';
            error_phonelenght_sm.textContent = 'Phone number first number cannot be 0';
        }

    });

    document.getElementById('changePasswordForm').addEventListener('submit', function(event) {
    var minLength_password = parseInt(passwordField.getAttribute('minlength'));
    var passwordValue = passwordField.value.trim();

    var minLength_Confirm_password = parseInt(Confirm_passwordField.getAttribute('minlength'));
    var Confirm_passwordValue = Confirm_passwordField.value.trim();


    if (passwordValue.length < minLength_password) {
        event.preventDefault(); // Prevent form submission
        error_password.style.display = 'block';
        error_password.textContent = 'Password must be at least ' + minLength_password + ' characters long.';
    }

    if (Confirm_passwordValue.length < minLength_Confirm_password) {
        event.preventDefault(); // Prevent form submission
        error_Confirm_password.style.display = 'block';
        error_Confirm_password.textContent = 'Password must be at least ' + minLength_Confirm_password + ' characters long.';
    }
    else if(Confirm_passwordValue != passwordValue) {
        event.preventDefault();
        error_password.style.display = 'block';
        error_Confirm_password.style.display = 'block';
        error_Confirm_password.textContent = 'Password and confirm Password must be same';
    }

    });

    document.getElementById('changePasswordForm_sm').addEventListener('submit', function(event) {
    var minLength_password_sm = parseInt(passwordField_sm.getAttribute('minlength'));
    var passwordValue_sm = passwordField_sm.value.trim();

    var minLength_Confirm_password_sm = parseInt(Confirm_passwordField_sm.getAttribute('minlength'));
    var Confirm_passwordValue_sm = Confirm_passwordField_sm.value.trim();

    if (passwordValue_sm.length < minLength_password_sm) {
        event.preventDefault(); // Prevent form submission
        error_password_sm.style.display = 'block';
        error_password_sm.textContent = 'Password must be at least ' + minLength_password_sm + ' characters long.';
    }

    if (Confirm_passwordValue_sm.length < minLength_Confirm_password_sm) {
        event.preventDefault(); // Prevent form submission
        error_Confirm_password_sm.style.display = 'block';
        error_Confirm_password_sm.textContent = 'Password must be at least ' + minLength_Confirm_password_sm + ' characters long.';
    }
    else if(Confirm_passwordValue_sm != passwordValue_sm) {
        event.preventDefault();
        error_Confirm_password_sm.style.display = 'block';
        error_Confirm_password_sm.textContent = 'Password and confirm Password must be same';
    }

    });
</script>
{% endblock %}