{% extends 'base.html' %}
{% load static %}
{% block title %}change Password{% endblock %}

{% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        color: #fff;
        background: linear-gradient(90deg, green, lightgreen);
    }

    .container {
        max-width: 500px;
        margin: 50px auto;
        box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
           background-color: chocolate;
        border-radius: 10px;
        padding: 30px;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 24px;
        color: #fff;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
        color: #fff;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border-bottom: 2px solid #fff;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        background: rgba(0, 0, 0, 0);
    }

    .form-group input[type="submit"] {
        background: rgba(0, 0, 0, 0);
        border: 2px solid rgb(0, 183, 255);
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .form-group input[type="submit"]:hover {
        background-color: #333;
    }

    .error {
        color: red;
        font-size: 13px;
        margin-top: 5px;
    }

    .text-center {
        text-align: center;
        margin-top: 20px;
    }

    .text-center a {
        color: rgb(0, 183, 255);
        text-decoration: none;
    }

    .text-center a:hover {
        color: #57b846;
    }
</style>


<body>
<div class="container">
    <div class="text-center" data-tilte>
        <img src="{% static 'images/logo.jpg' %}" alt="IMG" style="width: 150px;">
    </div>
    <h1>Change Password</h1>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <form method="POST" action="/Auth/changePassword/" id="signupForm">
        {% csrf_token %}
        <input type="hidden" name="forgetPassword" value="{{ forgetPassword }}">

        <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" name="password" id="password" placeholder="" minlength="8" required>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="" minlength="8" required>
            <span class="error" id="error_confirmPassword"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Change Password" >
        </div>
    </form>
</div>

<script>
    var error_confirmPassword = document.getElementById('error_confirmPassword');
    var passwordField = document.getElementById('password');
    var confirmPasswordField = document.getElementById('confirmPassword');
    var submitButton = document.getElementById("submitBtn");

    confirmPasswordField.onclick = function() {
        error_confirmPassword.textContent = '';
    };

    document.getElementById('signupForm').addEventListener('submit', function(event) {
        var minLength_password = parseInt(passwordField.getAttribute('minlength'));
        var passwordValue = passwordField.value.trim();

        var minLength_confirmPassword = parseInt(confirmPasswordField.getAttribute('minlength'));
        var confirmPasswordValue = confirmPasswordField.value.trim();

        if (passwordValue.length < minLength_password) {
            event.preventDefault(); // Prevent form submission
            error_confirmPassword.textContent = 'Password must be at least ' + minLength_password + ' characters long.';
        } else if (confirmPasswordValue.length < minLength_confirmPassword) {
            event.preventDefault(); // Prevent form submission
            error_confirmPassword.textContent = 'Password must be at least ' + minLength_confirmPassword + ' characters long.';
        } else if (confirmPasswordValue !== passwordValue) {
            event.preventDefault(); // Prevent form submission
            error_confirmPassword.textContent = 'Password and Confirm Password must match.';
        } else {
            submitButton.disabled = true;
            submitButton.value = "Changing Password...";
        }
    });
</script>
</body>

{% endblock %}
