{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}

<style>
    /* Add your custom styles here */
    body {
        background: linear-gradient(90deg, green, lightgreen);
    }
    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background: linear-gradient(90deg, green, lightgreen);
    }

    .login-card {
        background-color: chocolate;
        border-radius: 5px;
        padding: 30px;
        width: 400px;
        text-align: center;
        box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
        padding: 30px;

    }

    .logo {
        width: 150px;
        margin-bottom: 20px;
    }

    .login-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #fff;
    }

    .form-group {
        margin-bottom: 20px;
        text-align: left;
    }

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #fff;
    }

    .form-group input[type="number"],
    .form-group input[type="password"] {
        width: 100%;
        padding: 10px;
        border-bottom: 2px solid #fff;
        background-color: rgba(0, 0, 0, 0);
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
    }

    .login-button {
        background-color: rgb(0, 0, 0, 0);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .login-button:hover {
        background-color: #4fa43e;
    }

    .forgot-password,
    .signup-link {
        margin-top: 10px;
        font-size: 14px;
    }

    .signup-link a {
        color: rgb(0, 183, 255);
        text-decoration: none;
    }
</style>

<body>
<div class="container">
    <div class="login-card">
        <img src="{% static 'images/logo1.png' %}" alt="Logo" class="logo">
        <h2 class="login-title">Login</h2>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form class="login-form" method="POST" action="/Auth/" id="loginForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input class="no-arrow" type="number" name="phone"  maxlength="10" minlength="10"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                id="phone" placeholder="" required>
            </div>
            <span id="error_phonelenght" style="display: none; color: red;font-size: 13px;"></span>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="" required>
            </div>
            <input class="login-button w-100 text-center" value="Login" type="submit" id="submitBtn" style=" border: 2px solid rgb(0, 183, 255);">

            <div class="d-flex justify-content-between">
                <div class="signup-link">
                    <a href="/Auth/forgetpassword/">Forgot Password?</a>
                </div>
                <div class="signup-link">
                    <a href="/Auth/signup">Register</a>
                </div>
            </div>
           
        </form>
    </div>
</div>
<script>
    var error_phonelenght = document.getElementById('error_phonelenght');
    var submitButton = document.getElementById("submitBtn");
    var phone = document.getElementById('phone');

    phone.onclick = function() {
       error_phonelenght.style.display = 'none'
    };
   
    document.getElementById('loginForm').addEventListener('submit', function(event) {
    var minLength_phone = parseInt(phone.getAttribute('minlength'));
    var phoneValue = phone.value.trim();

    if (phoneValue.length < minLength_phone) {
        event.preventDefault(); // Prevent form submission
        error_phonelenght.style.display = 'block';
        error_phonelenght.textContent = 'Please enter valid phone number. \n Phone number must be ' + minLength_phone + ' digit long.';
    } 
    else if (phoneValue[0] === '0') {
        event.preventDefault(); // Prevent form submission
        error_phonelenght.style.display = 'block';
        error_phonelenght.textContent = 'Phone number first number cannot be 0';
    }
    else {
        submitButton.disabled = true;
        submitButton.value = "Login...";
    }
    });
</script>
</body>



{% endblock %}

