    body {
        color: #666666;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        line-height: 1.80857;
        font-weight: normal;
        /* background: url(../images/body_bg.jpg); */
        background-position: center;
        background-repeat: no-repeat;
    }

    .padding {
        padding: 2rem !important
    }

    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        border: none;
    }

    .bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#1c0a01), to(#013116));
        background: linear-gradient(to right, #023254, #350360);
    }

    .user-profile {
        padding: 40px 0;
    }

    .card-block {
        padding: 1.25rem;
    }

    .img-radius {
        border-radius: 5px;
    }

    h6 {
        font-size: 14px;
    }

    .card .card-block p {
        line-height: 25px;
    }

    @media only screen and (min-width: 1400px) {
        p {
            font-size: 14px;
        }
    }

    .card-block {
        padding: 1.25rem;
    }

    .card .card-block p {
        line-height: 25px;
    }

    .f-w-600 {
        font-weight: 600;
    }
